body {
  font: 10px sans-serif;
}

#content{
  margin: auto;
  max-width: 750px;
}

#chart-container{
  width: 83%;
  float: left;
}

#countries-list-container{
  float: left;
  width: 17%;
}
div#chart-container{
  max-width:
}
path {
  fill: none;
}

.axis line {
    fill: none;
    stroke: gray;
}

li.country_label{
  font-family: curator-bold;
  color: #333333;
  font-size: 13px;
}

text{
  font-family : curator-regular;
  font-size: '13px';
  fill : #333333;
}

/**
ul li { display:inline; }
**/

@font-face {
    font-family: 'curator-bold'; /*a name to be used later*/
    src: url('../fonts/Curator Head ST Bold.otf'); /*URL to font*/
}

@font-face {
    font-family: 'curator-regular'; /*a name to be used later*/
    src: url('../fonts/Curator Head ST Regular.otf'); /*URL to font*/
}
